.pane {
    position: relative;
    border-top: 2px solid #339900;
    background-color: #ccffcc;
    padding: 0px 20px 20px;
    margin: 0px;
}
.remove-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
    background: url(button_delete_green.png) no-repeat;
    width: 16px;
    height: 16px;
}
h3 {
    padding-right: 20px;
}